<app-login *ngIf="!authService.currentUserSig()"></app-login>
<div *ngIf="authService.currentUserSig()" class="chat-container container">
  <div class="message-container mb-3">
    <div class="users-list-group">
      <div class="list-group">
        <a class="list-group-item list-group-item-action" *ngFor="let user of users; let i = index" (click)="openChatDetail(user.uid)">{{user.userName}}</a>
      </div>
    </div>
    <div class="messages">
      <app-chatdetail [chat]="openChat" [userId]="userId" [otherUser]="otherUser" [userStatus]="userStatus"></app-chatdetail>
    </div>
  </div>
</div>