<nav class="navbar navbar-expand-lg bg-primary" data-bs-theme="dark">
    <div class="container">
      <a class="navbar-brand" href="#">ChatVerse</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarColor01">
        <ul class="navbar-nav me-auto"></ul>
        <div class="dropdown" dropdown *ngIf="authService.currentUserSig()">
          <a class="dropdown-toggle text-light text-decoration-none" dropdownToggle>
            Welcome {{authService.currentUserSig()?.userName || authService.currentUserSig()?.email}}</a>
          <div class="dropdown-menu" *dropdownMenu>
            <a class="dropdown-item" (click)="logout()">Log Out</a>
          </div>
        </div>
      </div>
    </div>
  </nav>