<div class="form-width">
    <form class="text-center" [formGroup]="forgotPasswordForm" (ngSubmit)="forgotPasswordForm.valid && forgotPassword()">
        <h2 class="text-center text-primary-emphasis">Reset Password</h2>
        <hr>
        <div class="col p-0">
            <div class="form-floating mb-3">
                <input type="email" class="form-control" id="Email" placeholder="Email" formControlName="email"
                [class.is-invalid]="forgotPasswordForm.get('email')?.invalid && 
                (forgotPasswordForm.get('email')?.dirty || forgotPasswordForm.get('email')?.touched)">
                <label for="Email">Email</label>
            </div>
        </div>

        <hr>
        <div class="d-flex justify-content-center align-items-center">
            <button class="btn btn-success me-4" type="submit" [disabled]="!forgotPasswordForm.valid">Verify Email</button>
        </div>
    </form>
</div>