/* .chat-detail-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.other-user {
    border-radius: 15px;
    height: 50px;
    font-size: 22px;
    font-weight: 600;
    padding: 7px;
    padding-left: 5%;
}

.chats {
    margin: 0 40px;
}

p {
    margin: 0;
}

.msg {
    max-width: 60%;
    margin: 4px 0;
    border-radius: 10px;
    padding: 8px 12px; 
    display: block;
    word-wrap: break-word;  
} */

.chat-detail-landing {
    height: 549px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-left: 1px solid lightgray; 
}

.chat-detail-container {
    display: flex;
    flex-direction: column;
    padding-left: 3%;
    border-left: 1px solid lightgray;
    gap: 4px;
}

.other-user {
    border-radius: 15px;
    height: 45px;
    font-size: 22px;
    font-weight: 600;
    padding: 5px;
    padding-left: 5%;
    box-shadow: 0 4px 6px -2px rgba(0, 0, 0, 0.2);
}
  
.chats-container {
    display: flex;
    flex-direction: column;
    gap: 4px;
    min-height: 500px; /* Minimum height for the chat area */
    max-height: 500px; /* Maximum height before scrolling */
    overflow-y: auto; /* Enable vertical scrolling when content exceeds max height */
    padding-right: 10px;
    /* border: 1px solid black; */
}
  
.chat-bubble {
    max-width: 60%;
    padding: 8px 12px;
    border-radius: 10px;
    word-wrap: break-word;
    margin: 0 30px;
}

.message {
    margin: 0;
}
  
.timestamp {
    font-size: 12px;
    margin-top: 2px;
    display: block;
}

.align-end {
    align-self: flex-end;
    text-align: right;
}
  
.align-start {
    align-self: flex-start;
    text-align: left;
}