.chat-detail-landing {
    height: 549px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-left: 1px solid lightgray; 
}

.chat-detail-container {
    display: flex;
    flex-direction: column;
    padding-left: 3%;
    border-left: 1px solid lightgray;
    gap: 4px;
}

.other-user {
    border-radius: 15px;
    height: 45px;
    font-size: 18px;
    font-weight: 600;
    padding: 3px;
    padding-left: 5%;
    box-shadow: 0 4px 6px -2px rgba(0, 0, 0, 0.2);
}

.other-user p {
    font-size: 10px;
    margin: 0;
    margin-left: 5px;
}

.start-convo {
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
}
  
.chats-container {
    display: flex;
    flex-direction: column;
    gap: 4px;
    min-height: 500px;
    max-height: 500px;
    overflow-y: auto;
    padding-right: 10px;
}
  
.chat-bubble {
    max-width: 60%;
    padding: 8px 12px;
    border-radius: 10px;
    word-wrap: break-word;
    margin: 0 30px;
}

.message {
    margin: 0;
}
  
.timestamp {
    font-size: 12px;
    margin-top: 2px;
    display: block;
}

.align-end {
    align-self: flex-end;
    text-align: right;
}
  
.align-start {
    align-self: flex-start;
    text-align: left;
}