<div *ngIf="!otherUser" class="chat-detail-landing">Chat with your friends through ChatVerse...</div>

<div *ngIf="otherUser" class="chat-detail-container">
    <div class="other-user bg-primary text-light">{{ otherUser }}
        <p *ngIf="userStatus">Online</p>
        <p *ngIf="!userStatus">Offline</p>
    </div>
    <div *ngIf="!chat" class="start-convo">Start Conversation</div>
    <div class="chats-container" *ngIf="chat">
        <div *ngFor="let content of chat?.chatContent" class="chat-bubble"
        [class.align-end]="userId === content?.sender" [class.align-start]="userId !== content?.sender" 
            [class.bg-primary]="userId === content?.sender" [class.bg-light]="userId !== content?.sender"
            [class.text-light]="userId === content?.sender">
            <div class="message-container">
                <div class="dropdown" *ngIf="content.sender === userId" dropdown>
                    <a class="dropdown-toggle text-light text-decoration-none" dropdownToggle>
                        <i class="fa fa-ellipsis-v text-center" [class.text-light]="userId === content?.sender" 
                    [class.text-dark]="userId !== content?.sender"></i>
                    </a>
                    <div class="dropdown-menu" *dropdownMenu>
                        <a class="dropdown-item" (click)="openEditModal(content)">Edit</a>
                        <a class="dropdown-item" (click)="deleteMessage(content)">Delete</a>
                    </div>
                </div>
                <div class="message-div">
                    <p class="message">{{ content.message }}</p>
                    <p class="text-secondary timestamp">{{ getReadableDate(content.timestamp) }} </p>
                </div>
            </div>
        </div>
        <div *ngFor="let message of messages" class="chat-bubble"
        [class.align-end]="message.senderId === userId" [class.align-start]="message.receiverId === userId"
        [class.bg-primary]="message.senderId === userId" [class.bg-light]="message.receiverId === userId"
        [class.text-light]="message.senderId === userId">
            <p  class="message">{{message.message}}</p>
            <p class="text-secondary timestamp">{{getCurrentTimestamp()}}</p>
        </div>
    </div>
    <form [formGroup]="messageInput" (ngSubmit)="sendMessage()">
        <div class="input-group mb-3 message-input">
          <input formControlName="message" type="text" class="form-control" placeholder="Type a Message">
          <button class="btn btn-success" type="submit"><i class="fa fa-share"></i></button>
        </div>
    </form>

    <div id="newRequestModal" class="modal" [class.show]="isModalOpen">
        <div class="modal-content d-flex justify-content-center align-items-center">
          <form [formGroup]="editMessageForm" (ngSubmit)="editMessage()" class="text-center">
            <h5>Edit Message</h5>
            <hr />
            <div class="input-group mb-3">
              <span class="input-group-text">Edit</span>
              <input type="text" class="form-control" id="username" formControlName="editedMessage">
            </div>
            
            <br />
    
            <button [disabled]="!editMessageForm.valid" class="btn btn-success me-2" type="submit">Save</button>
            <button class="btn btn-default" type="button" (click)="closeModal()">Close</button>
          </form>
        </div>
    </div>
</div>
  